include ./lib/header.jade
title 社团中心
link(href="/static/public/css/communCenter.css",rel="stylesheet",type="text/css")
script(src="/static/public/js/communCenter.min.js",language="javascript")
body(ng-app,ng-controller="CommunCenterCtrl",ng-cloak)
    include ./lib/tip.jade
    section#header.clearfix
        div.title {{ communsInfo.data.name }}
        div.percent 积分 {{ communsInfo.data.score }}
        div
            div.add-btn(ng-if="relType > 0 && relType < 4")
                button.baidu-btn.already-join="已加入"
            div.add-btn(ng-if="relType == 4")
                button.baidu-btn.apply="申请中"
    section#body
        div.message-info
            div.message-line.clearfix 
                div.left-text 社团名称
                div.right-text {{ communsInfo.data.name }}
            div.message-line.clearfix
                div.left-text 身份
                div.right-text {{ identity }}
            div.message-line.clearfix(ng-if="relType!=1&&relType!=3")
                div.left-text QQ 群 
                div.right-text {{ communsInfo.data.qq }}
            div.message-line.clearfix(ng-if="relType==1||relType==3",ng-click="modifyQQ()")
                div.left-text QQ 群 
                div.right-text {{ communsInfo.data.qq }}
            div.message-line.clearfix(ng-click="goUserList()")
                div.left-text(ng-if="relType==1||relType==3")
                    div.word 成员管理
                    div.red-point(ng-if="hasNewMember==true")=""
                div.left-text(ng-if="relType!=1&&relType!=3") 社团成员
                div.right-text
                    div.right-icon=""
            div.message-line.clearfix(ng-click="goqrcode($event)")
                div.left-text 
                    div.first-line 社团二维码
                    div.sub-line="(※ 分享 → 扫码 → 直接入团)"
                div.right-text(style="padding:6vw 0;")
                    div.right-icon=""
            div.message-line.clearfix(ng-click="convertScore()" ng-show="enableConvert")
                div.left-text.clearfix 兑换积分
                div.right-text
                    div.right-icon=""
            div.message-line.clearfix(ng-click="showScoreHistory()" ng-show="relType==1||relType==2||relType==3")
                div.left-text.clearfix 查看积分记录
                div.right-text
                    div.right-icon=""
            div.message-line.clearfix(ng-click="send_message_show()" ng-show="relType==1")
                div.left-text.clearfix 给团员发消息 
                div.right-text
                    div.right-icon=""
    section#work(ng-if="show_task==true")
        div.work-title.clearfix
            div.green=""
            div.title 社团任务
        div.work(infinite-scroll="loadMore()",scroll-threshold="200",time-threshold="600")
            div.work-wrap(ng-repeat = "t in task.data | orderBy:'taskStage'",ng-click="getTaskInfo({{ t.taskId }})",ng-if="t.taskStage!=3&&t.taskState!=4")
                div.work-image(style="background:url('{{ t.taskResourceUrl }}')")
                div.bar
                    div.title.clearfix
                        div.task_name {{ t.taskName }}
                            div.status
                                span.taskState(ng-if="t.taskState==1") 未领取
                                span.taskState(ng-if="t.taskState==2") 已领取
                                span.taskState(ng-if="t.taskState==3") 已通过
                                span.taskState(ng-if="t.taskState==4") 已评奖
                                span.taskStage(ng-if="t.taskStage==1") 未发布
                                span.taskStage(ng-if="t.taskStage==2") 已发布
                                span.taskStage(ng-if="t.taskStage==3") 强制终止
                                span.taskStage(ng-if="t.taskStage==4") 已过期
                    div.desc {{ t.taskDescription | noHtmltag }}
                div.line-end.clearfix(ng-if="t.type==3")
                    div.type 线上任务
                div.line-end.clearfix(ng-if="t.type==4")
                    div.type 线下任务
    section#bottom-btn
        div.baidu-btn(ng-if="relType == 0",ng-click="goJoin()") +加入社团
        div.baidu-btn(ng-show="relType > 1 && relType < 3", ng-click="quitCommun()") 退出社团
        div.baidu-btn(ng-show="relType == 1" ng-click="delCommun()") 解散社团
        div.baidu-btn(ng-show="relType == 4" ng-click="cancelApply()") 撤销社团申请
        a.commun_appeal(ng-show="relType == 0",href="javascript:;",ng-click="goAppeal()") 申诉社团
    div.convert-frame(ng-show="isDelCommun" ng-click="")
        div.convert-menu
            div.message.clearfix
                div.convert-text-left
                div.convert-text-center 小主真的要丢下百年基业走了吗？积分可不予退还哟!
                div.convert-text-right
            div.btn-line.clearfix
                div.left-btn(ng-click="confirmDeleteCommun()") 确定 
                div.right-btn(ng-click="hideDeleteCommun()") 取消
    div.convert-frame(ng-show="isConverting" ng-click="")
        div.convert-menu
            div.message.clearfix
                div.convert-text-left
                div.convert-text-center 您当前有{{communsInfo.data.score}}积分，可兑换{{communsInfo.data.score/10}}元，现在要去兑换吗？
                div.convert-text-right
            div.warn
                div 兑换积分需要进行身份认证
            div.btn-line.clearfix
                div.left-btn(ng-click="confirmConvert()") 去兑换
                div.right-btn(ng-click="hideConvert()") 取消
    section#scoreHistory(ng-show="scoreHistoryShow==true")
        div#score(ng-show="show_empty_bear!=true")
            div.score-detail(ng-repeat = "s in scoreInfo.data.His_data | orderBy : '-xdate' | limitTo:50 ")
                div.line-first.clearfix
                    div.reason.clearfix(ng-if="s.type==1") 兑换
                    div.reason.clearfix(ng-if="s.type==2") 签到
                    div.reason.clearfix(ng-if="s.type==3") 领取任务
                    div.reason.clearfix(ng-if="s.type==4") 补偿
                    div.reason.clearfix(ng-if="s.type==5") 其他
                    div.reason.clearfix(ng-if="s.type==6") 任务评奖得分
                    div.score.clearfix {{ s.score }} 积分
                div.data {{ s.xdate | date : 'yyyy-MM-dd' }}
            div.return-btn.baidu-btn(ng-click="back_center()") 返回
        div#score(ng-show="show_empty_bear==true")
            div.bear-empty=""
            div.return-btn.baidu-btn(ng-click="back_center()") 返回
    section#sendMessage.base(ng-show="show_send==true")
        div.send-title 
            span.pull-left 发消息给团员
            span.pull-right.back
                a(href="javascript:;",ng-click="hide_send()") 返回 
        div.send
            textarea.send-text(placeholder="在这里给团员发消息哦") {{message}}
            div.btn-line
                botton.baidu-btn(ng-click="sendMessage()") 发送
include ./lib/footer.jade